﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CabeceraFormularios.ascx.cs" Inherits="ControlesUsuario.Cabecera.CabeceraFormularios" %>
<script type="text/javascript" src="../Formularios/gestionFormularios.js"></script>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta name="description" content="Creative CSS3 Animation Menus" />
<meta name="keywords" content="menu, navigation, animation, transition, transform, rotate, css3, web design, component, icon, slide" />
<meta name="author" content="Codrops" />
